/* .pi-card {
    
    width: 10rem;
    padding: 1.5rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    background-color: white;
    border-radius: 12px;
    border: 1px solid #e0e0e0;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    
} */